<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnsmash.cspr.api.mapper.LogMapper">

    <!--按照时间范围查询比赛-->
    <select id="getCsprLog" resultType="com.cnsmash.cspr.api.vo.PlayerCsprLog">
        select
            `tournament`.date,
            `cspr_log`.new_cspr as cspr,
            `cspr_log`.old_cspr as lastCspr,
            `tournament`.`name` as tournamentName,
            `participate`.standing,
            `tournament`.entrants
        from `cspr_log`
        left join tournament on tournament.tournament_id = cspr_log.tournament_id
        left join participate on tournament.tournament_id = participate.tournament_id and participate.player_id = #{playerId}
        where (tournament.season = #{season} or cspr_log.tournament_id = -#{season}) and cspr_log.player_id = #{playerId}
    </select>
</mapper>